<!doctype html>
<html lang="en">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title%}SHOPHERE {% endblock %}</title>
     <style>
/* Style the Sticky icons on web page */
.stickyicon-list {
position: fixed;
top: 520px;
transform: translateY(-50%);
}
.stickyicon-list a {
display: block;
text-align: center;
padding: 8px;
transition: all 0.5s ease;
color: white;
font-size: 20px;
}
/* HOver affect on sticky social media icons */
.stickyicon-list a:hover {
color: #000;
width:10px;
}

/* Now we have to design each icon of social media */
.facebook {
background: #3b5998;
color: white;
}
.twitter {
color: white;
background: #00acee;
}
.linkedin {
background: #0e76a8;
color: white;
}
.google {
color: white;
background: #db4a39;
}
.instagram {
background: #3f729b;
color: white;
}
.youtube {
color: white;
background: #c4302b;
}
       {% block css %} {% endblock %}
  </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/shop">SHOPHERE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/shop"><i class="fa fa-home" aria-hidden="true"></i> Home<span class="sr-only">(current)</span></a>
        </i></li>

      <li class="nav-item">
        <a class="nav-link" href="/shop/contact"><i class="fa fa-phone" aria-hidden="true"> Contact Us</i></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/shop/about">About Us</a>
      </li>
             <li class="nav-item">
        <a class="nav-link" href="/shop/orders">My Orders</a>
    </li>



    </ul>
    <form method="get" action="/shop/search/ "class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Enter The Text to Search" aria-label="Search" name="search" id="search" style="width:500px;">
      <button action="/search" class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
{% if user.is_authenticated %}
<ul class="navbar-nav mr-2">
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"> <font color="white">Welcome, </font> {{request.user}}</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/view_logout">Logout</a>

        </div>
      </li>
      </ul>
      </div>
{% else %}
              <!-- Button trigger login modal -->
<button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#loginModal">
  Login
</button>
      <!-- Button trigger signup modal -->
<button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#signupModal">
  Sign Up
</button>






{% endif %}
          </form>
  </div>
</nav>
{% for message in messages %}
<div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
      <strong>Message:</strong> {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
      </button>
</div>

    {% endfor %}
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModal">SignUp Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form action="/signup" method="post"> {% csrf_token %}
          <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username"  name="username"  placeholder="Enter Your username" required>
         </div>
         <div class="form-group">
          <label for="firstname">First Name:</label>
          <input type="text" class="form-control" id="firstname"  name="firstname"  placeholder="Enter Your First Name" required>
         </div>
        <div class="form-group">
          <label for="lastname">Last Name:</label>
          <input type="text" class="form-control" id="lastname"  name="lastname"  placeholder="Enter Your Last Name"required>
         </div>
        <div class="form-group">
          <label for="email">Enter Your Email Address:</label>
          <input type="text" class="form-control" id="email"  name="email"  placeholder="Enter Your Email" required>
         </div>
        <div class="form-group">
          <label for="password1">Enter Your Password:</label>
          <input type="text" class="form-control" id="password1"  name="password1"  placeholder="Enter Your Password" required>
         </div>
        <div class="form-group">
          <label for="password2">Confirm  Password:</label>
          <input type="text" class="form-control" id="password2"  name="password2"  placeholder="Re-Type Your Password " required>
         </div>
        <button type="submit" class="btn btn-success ">submit</button>
      </form>
      </div>
    </div>
  </div>
</div>


<!-- login Modal -->
 <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModal">Login Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form action="/view_login" method="post"> {% csrf_token %}
        <div class="form-group">
          <label for="usern">Enter Your Username:</label>
          <input type="text" class="form-control" id="usern"  name="usern"  placeholder="Enter Your username" required>
         </div>
        <div class="form-group">
          <label for="password">Enter Your Password:</label>
          <input type="password" class="form-control" id="password"  name="password"  placeholder="Enter Your Password " required>
         </div>
        <button type="submit" class="btn btn-success ">submit</button>
      </form>
      </div>
    </div>
  </div>
</div>




<div class="stickyicon-list">
<a href="https://m.facebook.com/profile.php?id=100025977486205" class="facebook">
<i class="fa fa-facebook"></i>
</a>
<a href="https://www.twitter.com" class="twitter">
<i class="fa fa-twitter"></i>
</a>
<a href="https://www.linkedin.com" class="linkedin">
<i class="fa fa-linkedin"></i>
</a>
<a href="https://www.google.com" class="google">
<i class="fa fa-google"></i>
</a>
<a href="https://www.instagram.com/mr___faizan___" class="instagram">
<i class="fa fa-instagram"></i>
</a>
<a href="https://www.youtube.com" class="youtube">
<i class="fa fa-youtube"></i>
</a>
</div>




  {% block body %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block js %}  {% endblock %}




  </body>

</html>
