g{% extends 'shop/basic.html'%}
{% block title %}Contact Us{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<div class="container">
<form action="/shop/contact/" method="post"> {% csrf_token %}
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name"  name="name"  value="{{request.user.get_full_name}}" placeholder="Enter Your Name" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email"  name="email" value="{{request.user.email}}" placeholder="Enter Your Email" required>
  </div>
    <div class="form-group">
    <label for="phone">Phone Number:</label>
    <input type="tel" class="form-control" id="phone"  name="phone" placeholder="Enter Your phone Number" requied>
  </div>
    <div class="form-group">
    <label for="description">Describe Your Probelm Here:</label>
    <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
  </div>
    <button type="submit" class="btn btn-success">submit</button>
</form>
</div>
{% else %}
please! login
{% endif %}
{% endblock %}